/**
 * @name Asthetic v2
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://images5.alphacoders.com/106/1061559.jpg');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 0.55;
  --homeImage: url('https://cdn.discordapp.com/attachments/766755509939863603/1088559029531459584/sad-anime-city-lights-aesthetic-g2pxs3oqdkxtmciu.jpg');
  --homeImageSize: cover;
  --themeColor1: #2E3170;
  --themeColor2: #9C7548;
  --customFont: Source Sans Pro;
  --backgroundCode: rgba(0 0 0 /.5);
  --backgroundName: rgba(0 0 0 /.5);
}

/* Any custom CSS below here */


