/**
 * @name Goku Neutron
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://i.imgur.com/0SMcDNG.jpg');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 0.25;
  --homeImage: url('https://i.pinimg.com/originals/7e/e5/b1/7ee5b190dde2faf3a543472bf2833a9c.gif');
  --homeImageSize: cover;
  --themeColor1: #DC3636;
  --themeColor2: #E91E63;
  --customFont: Source Sans Pro;
  --backgroundCode: rgb(0,0,0,0.5);
  --backgroundName: rgba(0 0 0 /.5);
}

/* Any custom CSS below here */


