/**
 * @name Gokussj4-Frosted
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/0SMcDNG.jpg');
  --background-image-blur: 1px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://sportshub.cbsistatic.com/i/2021/03/16/b4f7f687-a09e-40da-b014-5777e976b46a/goku-ssj4-dbh-1119497.jpg');
  --popout-image-blur: 1px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://sportshub.cbsistatic.com/i/2021/03/16/b4f7f687-a09e-40da-b014-5777e976b46a/goku-ssj4-dbh-1119497.jpg');
  --overlay-image-blur: 1px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.pinimg.com/originals/7e/e5/b1/7ee5b190dde2faf3a543472bf2833a9c.gif');
  --home-button-size: 200%;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --overlay-brightness: 0.8;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Mukta;
  --window-padding: 8px;
  --window-roundness: 7px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


