/**
 * @name Kakashi_Frosted_Glass
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://wallpaper.dog/large/1002788.jpg');
  --background-image-blur: 1px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://wallpaperaccess.com/full/419369.jpg');
  --popout-image-blur: 2px;
  --popout-image-size: cover;
  --popout-image-position: center right;
  --overlay-image: url('https://images8.alphacoders.com/788/788687.jpg');
  --overlay-image-blur: 0px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://media.tenor.com/PcxW78LaTawAAAAM/kakashi.gif');
  --home-button-size: 200%;
  --home-button-position: center;
  --serverlist-brightness: 0.7;
  --left-brightness: 0.7;
  --middle-brightness: 0.68;
  --right-brightness: 0.12;
  --overlay-brightness: 0.74;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Edu SA Beginner;
  --window-padding: 2px;
  --window-roundness: 9px;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


