/*
	!!READ THIS!!
	
	This theme lets you swap the default emojis of discord with the emojis of a provider of your choice.
	To change the provider simply swap the marked word in the import url down below with a supported provider listed below.
	The name of the provider is CASE SENSITIVE, meaning you have to write it exactly like it's written below.
	Correct: Apple
	False: apple, APPLE, aPpLe
	
	Supported Providers:
		→ Apple
		→ Facebook
		→ Google
		→ JoyPixels
		→ Microsoft
		→ OpenMoji
		→ Samsung
		→ Toss
		→ WhatsApp
*/

/*																				  REPLACE THIS		*/
/*																					 ↓↓↓↓↓			*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
/*																					 ↑↑↑↑↑		  	*/
/*																				  REPLACE THIS		*/
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');
/* Base theme */
@import url('https://stickfab.github.io/pc-fluenticons/src/fluenticons-base.css');

/* Addons (comment to disable) */

/* Settings icons */
@import url("https://stickfab.github.io/pc-fluenticons/src/fluenticons-settings.css");

/* Context icons */
@import url("https://stickfab.github.io/pc-fluenticons/src/fluenticons-context.css");

/* User Popout Theme Color */

@import url(https://maendisease.github.io/BetterDiscordStuff/css/ProfileBannerSkins.css);


/* Funny Buttons */
.button-12Fmur .contents-3NembX {
    transform: rotate(0deg);
    transition: transform 0.3s;
}
.button-12Fmur:hover .contents-3NembX {
    transform: rotate(30deg);
}
.button-12Fmur:hover .contents-3NembX svg {
    height: 28px !important;
    width: 28px !important;
}
.button-12Fmur .contents-3NembX svg {
    transition: width 0.3s, height 0.3s;
}
/* Visible VC Text Button */
#app-mount .openChatIconItem-2kj5qO {
    display: flex;
    order: 1;
    justify-content: center;
    border-radius: 4px;
    width: 42px;
    padding-right: 0;
}

.openChatIconItem-2kj5qO:hover { background-color: var(--background-modifier-selected); }
.openChatIconItem-2kj5qO .actionIcon-2sw4Sl { color: var(--channels-default); }


:root {
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/
    
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}
